name: Build, Push, and Deploy to Railway

on:
  push:
    branches: [main]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  RAILWAY_PROJECT_ID: '348c9ac1-ff6b-472f-8475-93710ff15ad2'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:main .

      - name: Push Docker image
        run: |
          docker push ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:main

  deploy:
    runs-on: ubuntu-latest
    container: ghcr.io/railwayapp/cli:latest
    needs: build-and-push
    env:
      RAILWAY_TOKEN: ${{ secrets.RAILWAY_TOKEN }}
      RAILWAY_PROJECT_ID: ${{ env.RAILWAY_PROJECT_ID }}
      IMAGE_NAME: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:main

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Deploy to Railway
        run: |
          railway up --detach --image $IMAGE_NAME --project $RAILWAY_PROJECT_ID
